<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "0.0.1">

<name>Ultragram</name>

<description>
Image Filters with WebKit css
</description>

<author href="http://soportegyc.com" email="mfdogutierrez@gmail.com">
Mario Fernando Gutierrez
</author>


</widget>
